* {box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: rgb(167, 207, 223);
}
.capitais{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #4ac1f8;
    padding: 50px;
    margin: 5px;
}

.capitais > div {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.capitais img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child {
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display:flex;
}

.menu a{
    padding:20px;
    color:rgb(41, 37, 228);
    text-decoration: none;
}
.menu a:last-child{
    margin-left:auto;
}
.menu a:hover{
    font-weight:bold;
    color:lightgray;
    border-radius: 10px 0 0 10px;
}

.cabecalho{
        background-image: url("images/paisagem3.jpg");
        display: flex;
        justify-content: center;
        height: 200px;
        background-size: cover;
        background-position: 100% 70%;
        color:rgb(187, 178, 178);
}

.dicas {
    display: flex;
    flex-flow: wrap;
}

.dicas div{
    justify-content: center;
    flex-flow: wrap;
    box-shadow: 10px 10px 15px #888888;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px;
    background-color: #4ac1f8;
    width: 400px;
    color: black;
}

.destinos-sonho{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 300px 100px;
    grid-template-areas:
    "geres algarve aveiro praia"
    "serra-da-estrela serra-da-estrela sintra praia";
}

.destinos-tipo{
    position: relative;
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: bold;
    height: 50%;
    
}

.destino-cidade{
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: bold;
    position:absolute;
    height: 10%;
    font-size:20px;
}

.destino-preco{
    padding-top: 40px;
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: bold;
    position: relative;
    bottom:0;
    left:20px;
}


.destinos-sonho > div{
    border:2px solid white;
    border-radius: 2px;
    color:lightblue
}
.geres { 
    grid-area: geres; 
    background: url("images/geres.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    width: 100%;
}

.serra-da-estrela { 
    grid-area: serra-da-estrela; 
    background: url("images/serra-da-estrela.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    width: 100%;
}
.aveiro { 
    grid-area: aveiro; 
    background: url("images/aveiro.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    width: 100%;
}
.sintra { 
    grid-area: sintra; 
    background: url("images/sintra.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    width: 100%;
}
.algarve { 
    grid-area: algarve; 
    background: url("images/algarve.jpg");
    background-size: cover;
    background-position: 50% 70%;
    height: 100%;
    width: 100%;
}

.praia{
    grid-area: praia; 
    display:grid;
    background-color: white;
    color:black;
}

#praiaTexto{
    color:black;
}

#button{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}